<div class="spacer">
    &nbsp;
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-12" ng-show="confirmMessage">
            <h1>{{confirmMessage.heading}}</h1>
            <hr/>
            <p>{{confirmMessage.message}} <a href="{{confirmMessage.linkhref}}">{{confirmMessage.linktext}}</a></p>
        </div>
        <div class="col-lg-12" ng-show="!confirmMessage">
            <h1>Email Verification Successful</h1>
            <hr/>
            <p>Thanks for verifying your email! <a href="/login">Click here to log in.</a></p>
        </div>
    </div>
</div>