<div class="spacer">
    &nbsp;
</div>
<div class="container">
    <div class="error-container">
        <h1>There has been a minor problem</h1>
        <hr/>
        <img src="images/smallproblem.jpg" />
        <br/>
        <br/>
        <p><b>Something went wrong on our end.</b></p>
        <p>We're working quickly to fix it and will be back in just a minute. Please try again later.</p>
        <span ng-show="errorMessage">
            <p>If you'd like to help us out, you can paste the error message below into an email and send it to <a>support@adventure-buddy.com</a>. We'd really appreciate it!</p>
            <pre>{{errorMessage}}</pre>
        </span>
        <p><a href="/">Back to home page</a></p>
    </div>
</div>