<div class="spacer">
    &nbsp;
</div>
<div class="container marketing" ng-init="init()">
    <div class="row">
        <div class="form-container">
            <h1>Log In</h1>
            <hr/>
            <form>
                <div class="form-group">
                    <label>Username</label>
                    <br/>
                    <input class="form-field" ng-model="user.username" placeholder="Enter username" />
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <br/>
                    <input class="form-field" ng-model="user.password" type="password" placeholder="Enter password" />
                </div>
                <span class="loginerror">{{loginErrorMessage}}</span>
                <br/>
                <button class="btn btn-lg btn-primary" ng-click="login(user)" role="button">Log In</button> <a style="float:right;vertical-align:center;" href = "/forgot">Forgot password</a>
            </form>
        </div>
    </div>
</div>