<div class="spacer">
    &nbsp;
</div>
<div class="container marketing">
    <div class="row">
        <div class="col-lg-12">
            <h1>Alexander's Profile</h1>
            <hr/>
            <p><b>Full name:</b> Alexander Hoyland <a>Change</a></p>
            <p><b>Email:</b> {{ currentUser.email }} <a>Change</a></p>
            <p><b>Street address:</b> No address listed <a>Add an address</a></p>
            <p><b>Birthday:</b> {{currentUser.birthdate}}</p>
            <p><b>Member since:</b> {{currentUser.created}}</p>
            <p><a>Change my password</a></p>
            <h3>My trips</h3>
            <hr/>
            <p> put trips here</p>
            <h3>My photos</h3>
            <hr/>
            <p> put photos here</p>
            <h3>My friends</h3>
            <hr/>
            <p> put friends here</p>
            <h3>My reviews</h3>
            <hr/>
            <p> put reviews here</p>
            <!-- Add photo upload on upper left.  Add banner image behind "Alexander's Profile."  Add badges below photo upload. Add a newsfeed somewhere.  -->
        </div>
    </div>
</div>