<div class="spacer">
    &nbsp;
</div>
<div class="container marketing" ng-init="init()">
    <div class="row">
        <div class="form-container">
            <h1>Sign Up</h1>
            <hr/>
            <form name="signupForm" ng-show="!isSignupMethod('')" class = "animate-hide">
                <div class="form-group" ng-show="isSignupMethod('email')">
                    <label>Email Address</label>
                    <br/>
                    <input class="form-field" ng-model="newuser.email" ng-change="checkEmailValid(newuser)" placeholder="Enter email address" type="email" />
                    <br/>
                    <input class="form-field" ng-model="newuser.email2" ng-change="checkEmailMatch(newuser)" placeholder="Repeat email address" type="email" />
                    <br/>
                    <span class="loginerror">{{emailValidErrorMessage}} {{emailMatchErrorMessage}}</span>
                </div>
                <div class="form-group" ng-show="isSignupMethod('email')">
                    <label>Password</label>
                    <span class="pswdMeter" ng-class="{'color-red': pswdStrengthMessage === 'Weak', 'color-orange': pswdStrengthMessage === 'Moderate', 'color-green': (pswdStrengthMessage === 'Strong'||pswdStrengthMessage === 'Very Strong')}">Strength: {{pswdStrengthMessage}}</span>
                    <br/>
                    <input class="form-field" ng-model="newuser.password" type="password" ng-change="checkPswdValid(newuser)" placeholder="Enter your password" />
                    <br/>
                    <input class="form-field" ng-model="newuser.password2" type="password" ng-change="checkPswdMatch(newuser)" placeholder="Repeat password" />
                    <br/>
                    <span class="loginerror">{{pswdMatchErrorMessage}}</span>
                </div>
                <div class="form-group" ng-show="isSignupMethod('email')">
                    <label>Date of Birth</label>
                    <br/>
                    <select ng-model="newuser.dobMonth" ng-options="x for x in months" ng-change="checkDobMonthValid(newuser)">
                    </select>
                    <select ng-model="newuser.dobDay" ng-options="x for x in days" ng-change="checkDobDayValid(newuser)">
                    </select>
                    <select ng-model="newuser.dobYear" ng-options="x for x in years" ng-change="checkDobYearValid(newuser)">
                    </select>
                    <br/>
                    <span class="loginerror">{{dobDayValidErrorMessage}} {{dobMonthValidErrorMessage}} {{dobYearValidErrorMessage}}</span>
                </div>
                <div class="form-group">
                    <label>Terms and Conditions</label>
                    <br/> I agree to the <a href="/tos" target="_blank">Terms of Service</a> and <a href="/privacy" target="_blank">Privacy Policy</a>.
                    <input type="checkbox" ng-model="newuser.agree" ng-change="checkTosValid(newuser)" />
                    <br/>
                    <span class="loginerror">{{tosErrorMessage}}</span>
                </div>
                <div class="form-group" ng-show="isSignupMethod('email')">
                    <label>Please prove that you are not a robot</label>
                    <div vc-recaptcha key="'6LerFCwUAAAAABNm1j9btGQ6Wem_4-m5MHuMz66D'" on-create="setRecaptchaWidgetId(widgetId)"></div>
                    <span class="loginerror">{{reCaptchaErrorMessage}}</span>
                </div>
            </form>
			<span ng-show="isSignupMethod('')">
				<p><a class="btn btn-primary" style="width:100%;" href="/node/login/facebook" target="_self"><i class="fa fa-facebook"></i> Log in with Facebook</a></p>
			</span>
			<span ng-show="isSignupMethod('')">
				<p><a class="btn btn-primary" style="background-color:#e64b4b;border-color:#e64b4b;width:100%;" href="/node/login/google" target="_self"><i class="fa fa-google-plus" aria-hidden="true"></i> Log in with Google</a></p>
			</span>
			<span ng-show="isSignupMethod('')||isSignupMethod('email')">
				<p><a ng-click="buttonCallback('email')" class="btn btn-primary" style="background-color:gray;border-color:gray;width:100%;"><i class="fa fa-envelope" aria-hidden="true"></i> Sign up with Email address</a></p>
			</span>
        </div>
    </div>
</div>